/* 通用类名 */
.sider-scrollbar {
  overflow: auto;                 /* 保留滚动行为 */
  -ms-overflow-style: none;      /* IE & Edge */
  scrollbar-width: none;         /* Firefox */
}

.sider-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome & Safari */
}